<a href="https://colab.research.google.com/github/ladeiraA/Lab_BigData/blob/main/Atividade2Naive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

In [33]:
#base = arquivo
base = pd.read_csv("credit-data.csv")

In [34]:
#Ve valores negativos
baseA = base.loc[(base['age']) < 0]
baseA

    i#clientid        income        age         loan  c#default
15          16  50501.726689 -28.218361  3977.287432          0
21          22  32197.620701 -52.423280  4244.057136          0
26          27  63287.038908 -36.496976  9595.286289          0

In [35]:
#Media
media = base.loc[:,'age'].mean()
media

40.80755937840458

In [36]:
#Transforma valores negativos na media do age
base.loc[base.age < 0,'age'] = media

In [ ]:
#Mostrar que funcionou
base[15:27]

In [31]:
# imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
# data = [[12, np.nan, 34], [10, 32, np.nan], [np.nan, 11, 20]]
# print("Original data : \n", data)
# imputer = imputer.fit(data)
# data = imputer.transform(data)
# print("Imputed Data : \n", data)

In [ ]:
base = base.loc[base.age = NaN