<a href="https://colab.research.google.com/github/ladeiraA/Lab_BigData/blob/main/Aula_NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
base_credito = pd.read_csv('risco_credito.csv', sep=';')
base_credito

        historia  divida garantias     renda     risco
0           ruim    alta   nenhuma      0_15      alto
1   desconhecida    alta   nenhuma     15_35      alto
2   desconhecida   baixa   nenhuma     15_35  moderado
3   desconhecida   baixa   nenhuma  acima_35      alto
4   desconhecida   baixa   nenhuma  acima_35     baixo
5   desconhecida   baixa  adequada  acima_35     baixo
6           ruim   baixa   nenhuma      0_15      alto
7           ruim  baixa   adequada  acima_35  moderado
8            boa   baixa   nenhuma  acima_35  moderado
9            boa    alta  adequada  acima_35     baixo
10           boa    alta   nenhuma      0_15      alto
11           boa    alta   nenhuma     15_35  moderado
12           boa    alta   nenhuma  acima_35     baixo
13          ruim    alta   nenhuma     15_35      alto

In [ ]:
x_risco_credito = base_credito.iloc[:,0:4].values
x_risco_credito

array([['ruim', 'alta', 'nenhuma', '0_15'],
       ['desconhecida', 'alta', 'nenhuma', '15_35'],
       ['desconhecida', 'baixa', 'nenhuma', '15_35'],
       ['desconhecida', 'baixa', 'nenhuma', 'acima_35'],
       ['desconhecida', 'baixa', 'nenhuma', 'acima_35'],
       ['desconhecida', 'baixa', 'adequada', 'acima_35'],
       ['ruim', 'baixa', 'nenhuma', '0_15'],
       ['ruim', 'baixa ', 'adequada', 'acima_35'],
       ['boa', 'baixa', 'nenhuma', 'acima_35'],
       ['boa', 'alta', 'adequada', 'acima_35'],
       ['boa', 'alta', 'nenhuma', '0_15'],
       ['boa', 'alta', 'nenhuma', '15_35'],
       ['boa', 'alta', 'nenhuma', 'acima_35'],
       ['ruim', 'alta', 'nenhuma', '15_35']], dtype=object)

In [ ]:
y_risco_credito = base_credito.iloc[:,4].values
y_risco_credito

array(['alto', 'alto', 'moderado', 'alto', 'baixo', 'baixo', 'alto',
       'moderado', 'moderado', 'baixo', 'alto', 'moderado', 'baixo',
       'alto'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder_historia = LabelEncoder()
label_encoder_divida = LabelEncoder()
label_encoder_garantia = LabelEncoder()
label_encoder_renda = LabelEncoder()

In [ ]:
x_risco_credito[:,0] = label_encoder_historia.fit_transform(x_risco_credito[:,0])
x_risco_credito[:,1] = label_encoder_divida.fit_transform(x_risco_credito[:,1])
x_risco_credito[:,2] = label_encoder_garantia.fit_transform(x_risco_credito[:,2])
x_risco_credito[:,3] = label_encoder_renda.fit_transform(x_risco_credito[:,3])
x_risco_credito

array([[2, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 2],
       [1, 1, 1, 2],
       [1, 1, 0, 2],
       [2, 1, 1, 0],
       [2, 2, 0, 2],
       [0, 1, 1, 2],
       [0, 0, 0, 2],
       [0, 0, 1, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 2],
       [2, 0, 1, 1]], dtype=object)

In [ ]:
from sklearn.naive_bayes import GaussianNB
naive_risco_credito = GaussianNB()
naive_risco_credito.fit(x_risco_credito, y_risco_credito)

GaussianNB()

In [ ]:
previsao = naive_risco_credito.predict([[0,0,1,2],[2,0,0,0]])
previsao

array(['baixo', 'moderado'], dtype='<U8')